<a href="https://colab.research.google.com/github/whitepanic/pandas/blob/master/20200527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [14]:
df = pd.DataFrame (
    {"a" : [4,5,6],
     "b" : [7,8,9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [7]:
df.loc[3, "a"]

6

In [8]:
df.loc[[1,2], ["a","c"]]

   a   c
1  4  10
2  5  11

In [13]:
df = pd.DataFrame( 
    [[4, 7, 10], 
     [5, 8, 11],
     [6, 9, 12]],
  index=[1, 2, 3], 
  columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [44]:
import numpy as np
df = pd.DataFrame(
    {"a" : [4 ,5, 6, 6, np.nan],
    "b" : [7, 8, 9, np.nan, 9],
    "c" : [10, np.nan, 11, 12, 12]}, index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2),('e',3),('e', 4)], names=['n','v']))
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0   NaN
e 2  6.0  9.0  11.0
  3  6.0  NaN  12.0
  4  NaN  9.0  12.0

In [22]:
#df[df.a < 7]
#df[df.b > 7]
df[df['c'] >= 7]

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [33]:
df = df.drop_duplicates(keep='last')
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12

In [35]:
df[df["b"] != 7]

     a  b   c
n v
d 2  5  8  11
e 3  6  9  12

In [39]:
df.a.isin([5])

n  v
d  1    False
   2     True
e  3    False
Name: a, dtype: bool

In [45]:
pd.isnull(df)

         a      b      c
n v
d 1  False  False  False
  2  False  False   True
e 2  False  False  False
  3  False   True  False
  4   True  False  False

In [47]:
df.a.isnull().sum()

1

In [51]:
#pd.notnull(df)
df.notnull().sum()

a    4
b    4
c    4
dtype: int64

- &,|,~,^,df.any(),df.all()
- Logical and, or, not, xor, any, all

In [62]:
#df.notnull()
#~df.notnull()

TypeError: ignored

&,|,~,^,df.any(),df.all()
Logical and, or, not, xor, any, all