<a href="https://colab.research.google.com/github/whitepanic/pandas/blob/master/20200527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame (
    {"a" : [4,5,6],
     "b" : [7,8,9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])

In [0]:
df.loc[3, "a"]

6

In [0]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12