<a href="https://colab.research.google.com/github/whitepanic/pandas/blob/master/20200527_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns

In [23]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [24]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [25]:
#df['species'].value_counts()
#df['petal_width'].value_counts()
pd.DataFrame(df['species'].value_counts())

            species
virginica        50
versicolor       50
setosa           50

In [26]:
#len(df)
df.shape[0]

150

In [18]:
df['species'].nunique()

3

In [28]:
#df.describe()
import numpy as np
df.describe(include=[np.object])

          species
count         150
unique          3
top     virginica
freq           50

In [30]:
df['petal_width'].sum()

179.90000000000003

In [31]:
 df['petal_width'].count()

150

In [34]:
df['petal_width'].median()

1.3

In [35]:
df['petal_width'].mean()

1.199333333333334

In [37]:
df.quantile([0.25,0.75])

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

In [39]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [40]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [41]:
df.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [42]:
df.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64